body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: url(slike/pozadina.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: center;
}

/*MENI na svim stranicama*/

header {
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
  color: #a72d38;
  height: 60px;
  font-size: 36px;
  line-height: 60px;
  padding: 0 20px;
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-weight: 700;
  text-decoration: none;
}

nav {
  float: right;
}

.clearfix {
  clear: both;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
 
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #262626;
  height: 20px;
}


nav ul li a.active,
nav ul li a:hover {
  background: #a72d38;
  color: #ffffff;
  transition: 0.5s;
}

nav.dropDown{
    display: block;
    width: 100%;
}

nav.dropDown ul{
    display: block;
}


/*POČETNA stranica*/


#about{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  margin: 80px auto 0;
}

#description {
  padding: 15px;
  background-color: #d7e0eb;
  border: 2px solid #925156;
  border-radius: 5px;
}

.slideshowBack{
  margin: 80px;
  background-color: #d7e0eb;
  border: 2px solid #925156;
  border-radius: 5px;
}

.slideshow{
  float: center;
  margin: 80px auto 0;
}




@media (min-width: 900px) {
  #description{
    width: 90%;
  }

  .slideshowBack{
    width: 80%;
    height: 300px;
  }
}



@media (max-width: 900px) {
  #description{
    width: 800px;
  }

  .slideshowBack{
    width: 600px;
    height: 300px;
  }
}





/*CENOVNIK stranica*/


img {
  float: right;
  height: 30px;
  width: 30px;
  margin: 10px;
  cursor: pointer;
  text-align: center;
}
.tabContainer{
  width: 100%;
  height: 350px;

}
.tabContainer .buttonContainer{
height: 15%;
}
.tabContainer .buttonContainer button{
  width: 25%;
  height: 100%;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding:10px;
  font-family: sans-serif;
  font-size: 18px;
  background-color: #eee;
}
.tabContainer .buttonContainer button:hover{
  background-color: #d7d4d4;
}
.tabContainer .tabPanel{
  height: 120%;
  border: none;
  
  outline: none;
  background-color: gray;
  color: white;
  text-align: left;
  padding-top: 50px;
  
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 22px;
  display:none;
}
.tabContainer .tabPanel .podela{
  display: flex;
}
.tabContainer .tabPanel .podela .first{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background: rgba(56, 55, 55, 0.5); 
  flex: 1;
  padding: 1rem;
}
.tabContainer .tabPanel .podela .second{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(56, 55, 55, 0.3); 
   
  flex: 1;
  padding: 1rem;
}

@media (min-width: 1200px) {
  #menu {
    display: none;
  }
  #close {
    display: none;
  }
}



@media (max-width: 1200px) {
    header {
        margin: 20px;
      }

  nav.regular{
      display: none;
  }
  
  #close {
    display: none;
  }

}







/*KONTAKT stranica*/


 .wrapper{
  margin: 80px auto 0;
  background-color: #d7e0eb;
  border: 2px solid #925156;
  border-radius: 5px;
}

@media (min-width: 900px) {
  .wrapper{
    width: 800px;
    
  }
}

@media (max-width: 900px) {
  .wrapper{
    width: 90%;
    
  }
}

.wrapper h2{
  padding: 15px;
  color: #99202a;
  position: relative;
  width: 23rem;
}

.wrapper .accordion_wrap{
  width: 100%;
}

.wrapper .accordion_wrap .accordion_header {
  height: 30px;
  background-color: #ffffff;
  padding: 15px;
  color:  #ad3f48;
  font-size: 20px;
  font-weight: 700;
  border-bottom: 2px solid #a72d38;
  position: relative;
  cursor: pointer;
}


.wrapper .accordion_wrap:last-child .accordion_header {
  border-bottom: 2px solid transparent;
}

.wrapper .accordion_wrap .accordion_header:hover {
  color: #861a23;
  border-color: #861a23;
}

.wrapper .accordion_wrap:last-child .accordion_header:hover {
  border-bottom: 2px solid transparent;
}

.wrapper .accordion_wrap .accordion_header:before,
.wrapper .accordion_wrap .accordion_header:after{
  content: "";
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  right: 15px;
  width: 20px;
  height: 2px;
  background: #a72d38;
}

.wrapper .accordion_wrap .accordion_header:after{
  transform: rotate(-90deg);
  transition: all 0.5s ease;
}

.wrapper .accordion_wrap .accordion_header:hover:before,
.wrapper .accordion_wrap .accordion_header:hover:after{
  background: #861a23;
}

.wrapper .accordion_wrap .accordion_body{
  width: 100%;
  height: 150px;
  transition: all 0.5s ease;
  background: #a03a42;
  display: none;
}

.wrapper .accordion_wrap .accordion_body p{
  padding: 15px;
  font-size: 17px;
  line-height: 22px;
  color: #ffffff;
}

.wrapper .accordion_wrap .accordion_body a{

  padding: 15px;
  font-size: 17px;
  line-height: 70px;
  color: #ffffff;
}

.wrapper .accordion_wrap .accordion_header.active{
  color: #861a23;
  border-color: #861a23;
}

.wrapper .accordion_wrap:last-child .accordion_header.active{
  border-bottom: 2px solid #a72d38;
}

.wrapper .accordion_wrap .accordion_header.active:before,
.wrapper .accordion_wrap .accordion_header.active:after{
  background: #a03a42;
}

.wrapper .accordion_wrap .accordion_header.active:after{
  transform: rotate(0);
}
.wrapper .accordion_wrap .accordion_header.active + .accordion_body{
  display: inline-block;
  height: 150px;

}
.wrapper .accordion_wrap .accordion_body .lokacija {
  display: flex;
  justify-content: center;
  }

